/* 头部 */
.header{
    height: 100px;
    background: rgb(15, 130, 206);
}
.container{
    width: 1520px;
    margin: 0 auto;
}
.header img{
    width: 200px;
    float: left;
    margin: 20px 0 0 20px;
} 
.meau {
    float: left;
    margin: 0 20px;
}
.meau li a{ 
    color: rgb(178, 186, 194);
}
.meau li{
    float: left;
    margin: 0 40px;
    line-height: 100px;
    font-size: 25px;
}
.meau li a:hover{
    color: rgb(255, 253, 253);
}
.che{
    display: block;
    font-size: 15px;
    color: #8f98a0;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    cursor: pointer;
    margin-top: 27px;
    text-align: center;
    color: rgb(255, 255, 255);
    float: left;
    width: 100px;
    line-height: 50px;
    background: linear-gradient( to bottom, #799905 5%, #536904 95%);
}
.download{
    float: right;
    line-height: 100px;
    font-size: 25px;
    margin-right: 70px;
}
.download .denglu{
    margin-right: 20px;
}
.download a{
    color: rgb(178, 186, 194) ;
}
.denglu:hover,.zhuce:hover{
    color:rgb(255, 253, 253);
}
/* 登陆界面 */
.login{
    height: 800px;
    background-image: url(../img/beijing.jpg);
}
.steamhao{
    width: 620px;
    height: 700px;
    background: radial-gradient(30% 40% at 40% 30%, rgba(33, 36, 41, .5) 0%, rgba(33, 36, 41, 0) 100%) no-repeat;
    float: left;
    margin-left:260px;
}
.steamhao1{
    width: 600px;
    height: 412px;
    margin: 30px auto 0;
}
.steamhao1 h1{
    margin-bottom: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    font-size: 34px;
    color: #ffffff;
}
.steamhao1 .mingcheng{
    font-size: 14px;
    color: #b8b6b4;
    margin: 0 0 5px 150px;
}
.steamhao1 .lu{
    max-width: 300px;
    background: #32353C;
    border-radius: 3px;
    color: #E9E9E9;
    padding: 8px 6px;
    display: block;
    border: 1px solid #26282D;
    font-weight: normal;
    width: 100%;
    margin: 0 0 18px 150px;
}
.steamhao1 .lock{
    font-size: 14px;
    color: #b8b6b4;
    margin: 0 0 5px 150px;
}
.steamhao1 .ma{
    max-width: 300px;
    background: #32353C;
    border-radius: 3px;
    color: #E9E9E9;
    padding: 8px 6px;
    display: block;
    border: 1px solid #26282D;
    font-weight: normal;
    width: 100%;
    margin: 0 0 18px 150px;
}
.steamhao1 .niu{
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: block;
    cursor: pointer;
    color: #c3e1f8;
    background: #1767a5;
    padding: 3px 80px;
    margin: 0 auto;
}
.steamhao1 .niu:hover{
    color: #E9E9E9;
    background: rgb(58, 67, 190);
}
.steamhao1 .wangji{
    display: inline-block;
    color: #E9E9E9;
    margin-left: 263px;
    margin-top: 25px;
}
.steamhao1 .wangji:hover{
    color: #186dce;
}
/* 了解更多相关 */
.jiaru{
    width: 320px;
    height: 600px;
    background: #212429;
    float: left;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.tansuo,.liaojie{
    max-width: 60%;
    text-align: center;
    font-size: 14px;
}
.tansuo{
    color: #b8b6b4;
}
.liaojie{
    margin-top: 10px;
    color: #FFFFFF;
}
.jiaru img{
    width: 320px;
    height: 218px;
}
.jiandan{
    margin-top: 20px;
    font-size: 14px;
    color: #b8b6b4;
}
.join{
    margin: 20px 0 0 0;
    display: block;
    text-align: center;
    border-radius: 2px;
    border: none;
    padding: 1px;
    color: #fff
}
.join>span{
    display: block;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 2px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
}
.join>span:hover{
    border-color: #fff;
}
/* 底部版权 */
.foot{
    height: 156px;
    background:#111923;
}
.foot-content{
    width: 940px;
    margin: 0px auto;
    padding-top: 16px;
}
.rule{
    height: 8px;
    border-top: 1px solid #363c44;;
}
.foot-logo-left{
    float: left;
    padding-top: 2px;
}
.foot-logo-left img{
    width: 88px;
    height: 25px;
}
.foot-text{
    float: left;
    margin-left: 12px;
    color: #8F98A0;
    font-size: 12px;
    line-height: 16px;
}
.foot-text div a{
    color: #C6D4DF;
}
.foot-text div a:hover{
    color: #fff;
}
.foot-logo-right{
    float: right;
    padding-top: 2px;
}
.value-list{
    float: left;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #C6D4DF;
}
.value-list a{
    color:#C6D4DF;
}
.value-list a:hover{
    color:#fff ;
}
