/* 头部 */
.header{
    height: 100px;
    background: rgb(15, 130, 206);
}
.container{
    width: 1520px;
    margin: 0 auto;
}
.header img{
    width: 200px;
    float: left;
    margin: 20px 0 0 20px;
} 
.meau {
    float: left;
    margin: 0 20px;
}
.meau li a{ 
    color: rgb(178, 186, 194);
}
.meau li{
    float: left;
    margin: 0 40px;
    line-height: 100px;
    font-size: 25px;
}
.meau li a:hover{
    color: rgb(255, 253, 253);
}
.download{
    float: right;
    line-height: 100px;
    font-size: 25px;
    margin-right: 70px;
}
.download .denglu{
    margin-right: 20px;
}
.download a{
    color: rgb(178, 186, 194) ;
}
.denglu:hover,.zhuce:hover{
    color:rgb(255, 253, 253);
}
/* 搜索框 */
.sousuo{
    height: 80px;
    background: rgb(13, 87, 136);
}
.meau2{
    float: left;
    margin-left: 80px;
}
.meau2 li a{ 
    display: block;
    color: rgb(178, 186, 194);
    line-height: 80px;
    height: 80px;
    padding: 0 25px
}
.meau2 li{
    float: left;
    line-height: 80px;
    font-size: 25px;
}
.meau2 li a:hover{
    background: rgb(50, 150, 218);
}
.wrap{
    width: 800px;
    height: 30px;
    float: right;
    margin-top: 25px;
    margin-right: 40px;
}
.ipt{
    width: 700px;
    height: 28px;
    float: left;
    border:1px solid rgb(0, 0, 0);
    background: #f1f1f1;
    color: #888888;
    padding-left: 15px;
}
.sub{
    float: left;
    width: 50px;
    height: 30px;
}
/* 游戏列表内容 */
.youxiliebiao{
    float: left;
    width: 420px;
    height: 600px;
    background: rgb(6, 12, 14);
}
.youxiliebiao h1{
    color: #fff;
    font-size: 34px;
    font-weight: 100;
    text-align: center;
    padding-top: 30px;
}
.youxibiao{
    text-align: center;
    margin-top: 30px;
}
.youxibiao li{
    position: relative;
    margin: 20px 0;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.youxibiao li:hover{
    background: cornflowerblue;
}
.youxi{
    position: absolute;
    left: 420px;
    top: 0;
    display: none;
    width: 620px;
    background: red;
    z-index: 15;
}
.youxibiao li:hover .youxi{
    background: #3d67b4;
    display: block;
}
.youxi .kuang{
    margin:0 8px ;
    color:#fff;
}
.youxi .kuang:hover{
    background: rgb(50, 150, 218);
}
/*广告框内容*/
.guanggao{
    position: relative;
    height: 600px;
}
.swiper-container {
    float: right;
    width: 1100px;
    height: 600px;
    background-color: red;
}  
.swiper-container img{
    width: 100%;
    height: 100%;
}
.swiper-button-prev{
    
} 
/*游戏购物区*/
.main{
    height: 550px;
    background: rgb(13, 87, 136);
}
.main1{
    width: 1100px;
    margin: 0 auto;
    padding-top:30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
  .goods{
    float: left;
    width: 235px;
    height: 230px;
    margin-bottom: 30px;
    border: 1px solid #fff;
    overflow: hidden;
  }
  .goods:hover{
    border-color: rgb(25, 21, 219);
  }
  .goods img{
    width: 235px;
    height: 132px;
  }
  .goods p{
    float: left;
    color: rgb(20, 192, 112);
    font-size: 18px;
    padding: 6px 0;
  }
  .goods h3{
      float: right;
      line-height: 35px;
      color: #f1f1f1;
  }
  .goods div{
    border: 1px solid rgb(27, 238, 80);
    color: rgb(27, 238, 80);
    font-size: 14px;
    width: 100px;
    line-height: 30px;
    background: url(../img/gouwu.png) 5px 4px no-repeat;
    padding-left: 40px;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
  }
  /* steam新闻简介 */
  /* steam新闻 */
.new{
      height: 300px;
      background: rgb(13, 25, 92);
  }
.new h2{
    margin-left:12px ;
    color:#f1f1f1;
    font-size: 18px;
    line-height: 64px;
}
.news_left{
    width: 550px;
    height: 300px;
    float: left;
    padding: 0 28px 0 22px;
}
.news_left ul li{
    line-height: 24px;
    overflow: hidden;
    background: url(../images/listbg.jpg)  no-repeat left center;
    padding-left: 14px;
    margin:5px 0;
}
.news_left ul li a{
    color:#f1f1f1;
    float: left;
}
.news_left ul li span{
    float: right;
    color: #999999;
}
/*  */
.news_center{
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    float: left;
    padding: 0 20px 0;
}
.news_center p{
    color: #555555;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom:15px;
}
.news_center p strong{
    font-size: 14px;
}
.news_center a{
    color: #999999;
    line-height: 24px;
}
.news_right{
    width: 300px;
    height: 300px;
    background: #fbfbfb url(../images/bg.jpg) no-repeat 142px 135px;
    float: left;
    padding: 0 55px 0 24px;
    border-left: 1px solid #ffffff;
}
.news_right .more{
    width: 66px;
    height: 19px;
    line-height: 19px;
    background: #aeaeae;
    display: block;    /* 可以让内联元素标签转换成块元素 */
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}
.news_right p{
    color: #555555;
    line-height: 24px;
}


